flask                                                                                                                                                                                       
gunicorn
flask-wtf
coverage
pytest
pytest-html
tox
